 html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 5px;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.login-links {
    color: #000000;
    padding-right: 20px;
    font-weight: 800;
    letter-spacing: 0.1em;
    text-decoration: none;
    text-transform: uppercase;
}

 .top-right-login {
    position: absolute;
    right: 15px;
    top: 15px;
}

 .top-left-logo {
    position: absolute;
    left: 5px;
    top: 0px;
    height: 60px;
    width: 70px;
}

.top-left-msg1 {
    position: absolute;
    left: 80px;
    top: 15px;
}

.top-left-msg2 {
    position: absolute;
    left: 80px;
    top: 35px;
}

.top-msg1 {
    position: absolute;
    top: 5px;
}

.top-msg2 {
    position: absolute;
    top: 30px;
}

.panel-top {
    border-bottom: 1px solid #cccccc;
}

.panel-bottom {
    text-align: center;
    font-size:11px;
    color:white;
    background: #696463;
}