 html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 1px;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.login-links {
    color: #000000;
    padding: 0 2px;
    font-weight: 700;
    text-decoration: none;
    cursor: crosshair;
}

 .top-right-login {
    position: absolute;
    right: 5px;
    top: 15px;
}

 .top-left-logo {
    /*position: absolute;
    left: 0px;*/
    top: 0px;
    height: 20px;
    width: 35px;
    /*padding-bottom: 4px;
    padding-top: 4px;*/
}

.top-left-lang {
    position: absolute;
    left: 0px;
}

/*
.top-left-msg1 {
    position: absolute;
    left: 35px;
    top: 13px;
}

.top-left-msg2 {
    position: absolute;
    left: 0px;
    top: 45px;
}
*/

.panel-top {
    border-bottom: 1px solid #cccccc;
    text-align: center;
}

.panel-bottom {
    text-align: center;
    font-size:1.2vw;
    color:white;
    background: #696463;
}
