 html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    max-width: 900px;
    margin: auto;
}


.full-height {
    height: 100vh;
}   

.height-80 {
    height: 80vh;
}

.height-75 {
    height: 75vh;
}

.height-15 {
    height: 15vh;
}

.height-10 {
    height: 10vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.position-abs {
    position: absolute;
}

.position-fixed {
    position: fixed;
}


.login-links > a {
    color: #000000;
    padding: 0 3px;
    font-size: 1.4vw;
    font-weight: 1000;
    letter-spacing: 0.1em;
    text-decoration: none;
    text-transform: uppercase;
}

 .top-right-login {
    position: absolute;
    right: 25px;
    top: 5px;
}

 .top-left-logo {
    position: absolute;
    left: 20px;
    top: 10px;
    height: 60px;
    width: 55px;
}

.top-left-1st {
    position: absolute;
    left: 75px;
    top: 20px;
    font-size:1.1vw;
    color: #0000ff;
    font-weight: bold;
}

.top-left-2nd {
    position: absolute;
    left: 85px;
    top: 40px;
    font-size:1.0vw;
    color: #000000;
    font-weight: bold;
}

div.top-bg {
    background-image: url("../img/top-bg.png");
}

span.top-msg {
    background-color: #ffff00;
    padding:4px 5px;
    font-weight: bold;
    font-size:1.2vw; 
    color:red; 
    background-color: #F4FAF6;
    text-align:center;
    border: 2px solid #ffffff; 
    border-radius: 15px;
    display: inline-block; 
    margin-top: 10px;
}

span.space-top {
    display: inline-block; 
    margin-top: 10px;
}


.panel-bottom {
    text-align: center;
    font-size:1.2vw;
    color:white;
    background: #696463;
}

